.env
.env*
.DS_Store
.idea
.build
build/
dist/
*.pem
*.cert
*.key
node_modules/
aws-exports.js
awsconfiguration.json
.serverless
_scratchpad
terraform.*
.terraform*
infrastructure/*


# Elastic Beanstalk Files
api/.elasticbeanstalk/*
api/!.elasticbeanstalk/*.cfg.yml
api/!.elasticbeanstalk/*.global.yml
api/.ebextensions/*