/*@import 'themes';*/
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


.ag-theme-balham,
.ag-header-group-text,
.ag-header-cell-text {
     font-size: 14px !important;
     font-family: sans-serif;
}

a {
     cursor: pointer;
     cursor: hand;
}

header {
     border: 1px solid transparent;
     background: #FFFFFF;
     border-bottom: solid 1px rgb(206, 206, 206);
}

nav a.active {
     color: #039be5;
}

html {
     font-size: .8rem;
     height: 100vh;
     font-family: sans-serif;
}

.application {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
}

.application-body {
     display: flex;
     flex: 1;
     // background-color: #494949;
     // background-color: #eeeeee;
}

.application-content {
     padding-left: 20px;
     padding-right: 20px;
     min-width: 100%;
     overflow: auto;
}

.application-nav {
     background: #FFFFFF;
     // border-right: solid 1px rgb(238, 238, 238);
}

.content {
     flex: 1;
     display: flex;
     overflow: auto;
}


.application-body {
     position: absolute;
     top: 50px;
     right: 0;
     bottom: 0;
     left: 0;

     display: flex;
}

.application-main {
     flex: 1;
     display: flex;
     flex-direction: column;
     padding: 0px;
     margin: 0px;
     width: 100%;
}

.application-content {
     flex: 1;
     display: flex;
     overflow: auto;
     padding: 0px;
     margin: 0px;
}

.footer {
     margin-top: 2em;
     height: 45px;
     width: 100%;
     background-color: #FFFFFF;
     flex-shrink: 0;
}