<!--<nav>-->
<!--  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>-->
<!--</nav>-->
<!-- <body class="application"> -->
  <header>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="display: flex; align-content: center; align-items: center;">
         <div fxLayout="row" fxLayoutAlign="start center" style="padding-left: 20px; height: 48px;">
              <div style="background-color: transparent; border: none; margin-right: 10px; cursor: pointer;" routerLink="/">
                   <img src="assets/logo.png" style="width: 255px; margin-top: 0px;" />
              </div>
              <!-- <div fxShow [fxHide.lt-sm]="true" routerLink="/help" class="navButton" routerLinkActive="navButtonActive">
                   <p>Help</p>
              </div> -->
         </div>
         <div fxLayout="row" fxLayoutAlign="end center" style="padding-left: 20px; height: 48px;" fxShow [fxHide.lt-sm]="true">
              <!-- fxShow [fxHide.lt-md]="true"  -->
              <div class="navButton" *ngIf="!authService.isLoggedIn" routerLink="/login" routerLinkActive="navButtonActive">
                   <p>Log In</p>
              </div>&nbsp;
              <div class="navButton" *ngIf="!authService.isLoggedIn" routerLink="/signup" routerLinkActive="navButtonActive">
                   <p>Sign Up</p>
              </div>&nbsp;
              <div class="navButton" *ngIf="authService.isLoggedIn" routerLink="/account">
                   <p>Nova</p>
              </div>&nbsp;
              <div class="navButton" *ngIf="authService.isLoggedIn" (click)="logout()">
                   <p>Log Out</p>
              </div>
         </div>
         <div fxLayout="row" fxLayoutAlign="start center" fxShow [fxHide.gt-xs]="true" style="padding-left: 20px; height: 48px;">
              <div class="navButton" (click)="toggleNavGeneral()" fxShow [fxHide.gt-xs]="true">
                   <p>
                        <i class="material-icons" style="font-size: 1.85rem">menu</i>
                   </p>
              </div>
         </div>
    </div>
</header>
<div class="application-body">
    <nav class="application-nav" fxLayout="column" fxLayoutAlign="space-between stretch" *ngIf="authService.isLoggedIn">
         <div [class.sidebarExpanded]="this.navAccountExpanded" [class.sidebarCollapsed]="!this.navAccountExpanded">
              <div [class.sidebarItemExpanded]="this.navAccountExpanded" [class.sidebarItemCollapsed]="!this.navAccountExpanded" routerLink="/settings" routerLinkActive="sidebarItemActive" *ngIf="authService.isLoggedIn" [routerLinkActiveOptions]="{exact: true}">
                   <i class="material-icons" style="font-size: 1.85rem">account_circle</i>
                   <span *ngIf="this.navAccountExpanded">Profile</span>
              </div>
              <div  [class.sidebarItemExpanded]="this.navAccountExpanded" [class.sidebarItemCollapsed]="!this.navAccountExpanded" routerLink="/password" routerLinkActive="sidebarItemActive" title="Settings" *ngIf="authService.isLoggedIn">
                   <i class="material-icons" style="font-size: 1.85rem">lock</i>
                   <span *ngIf="this.navAccountExpanded">Password</span>
              </div>
         </div>
         <div class="menuButton" (click)="toggleNavAccount()" *ngIf="authService.isLoggedIn" style="width: 100%; height: 48px;">
              <div>
                   <i *ngIf="!this.navAccountExpanded" class="material-icons" style="font-size: 1.85rem">chevron_right</i>
                   <p *ngIf="this.navAccountExpanded" style="display: flex; align-items: left; align-content: left;">
                        <i class="material-icons" style="font-size: 1.85rem">chevron_left</i>
                        Collapse
                   </p>
              </div>
         </div>
    </nav>
    <main class="application-main">
         <div  class="application-content" fxLayout="column" fxLayoutAlign="space-between stretch" [@routeAnimation]="getAnimationData(routerOutlet)">
              <div style="padding: 20px;">
                   <router-outlet #routerOutlet="outlet"></router-outlet>
                   <router-outlet name="popup"></router-outlet>
              </div>
              <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                   <div>&copy;2020 to Present - Weavver, Inc.</div>
              </div>
         </div>
    </main>
</div>
<!-- </body> -->