<card title="Centers"
     [loading]="processing"
     maxWidth="700px"
     [menu]="menu"
     (menuitem_clicked)="menuitem_clicked($event)">
     <card-body padding="false">
          <!-- <div *ngFor="let center of centers | async">{{ center.id | json }} </div> -->
          <ag-grid-angular
          style="width: 100;"
               class="ag-theme-balham"
               pagination="true"
               paginationPageSize="30"
               domLayout="autoHeight"
               [rowMultiSelectWithClick]="false"
               [rowData]="centers | async"
               [columnDefs]="columnDefs"
               (gridReady)="onGridReady($event)"
               (rowDoubleClicked)="onrowDoubleClickedEvent($event)"
               (onGridSizeChanged)="onGridSizeChangedEvent($event)"
               >
          </ag-grid-angular>
     </card-body>
</card>