<card id="card"
     [loading]="processing"
     title="Identities"
     maxWidth="700px"
     [menu]="menu"
     (menuitem_clicked)="menuitem_clicked($event)">
     <card-body>
          <!-- <div *ngFor="let identity of identities | async">{{ identity.id | json }} </div> -->
          <ag-grid-angular
               style="width: 100;"
               class="ag-theme-balham"
               pagination="true"
               paginationPageSize="30"
               domLayout="autoHeight"
               [rowMultiSelectWithClick]="false"
               [rowData]="identities | async"
               [columnDefs]="columnDefs"
               (gridReady)="onGridReady($event)"
               (rowDoubleClicked)="onrowDoubleClickedEvent($event)"
               (onGridSizeChanged)="onGridSizeChangedEvent($event)"
               >
          </ag-grid-angular>
     </card-body>
</card>