.authorize {
     color: #000000;
     background-color: rgb(233, 255, 227);
     border-color: rgb(197, 205, 197);
     min-width: 150px;
}
.authorize:hover {
     background-color: rgb(185, 201, 181);
}

.authorize:active {
     background-color: rgb(126, 150, 119) !important;
}

.cancel {
     color: #000000;
     background-color: rgb(255, 192, 191);
     border-color: rgb(206, 194, 194);
     min-width: 150px;
     margin: 10px;
}

.cancel:hover {
     background-color: rgb(215, 169, 168);
}

.cancel:active {
     background-color: rgb(159, 114, 113) !important;
}

.form-group {
     padding: 10px;
}