<card [title]="title"
     icon="lock"
     [loading]="processing">
     <card-body padding="false">
          <div *ngIf="error">
               {{ error }}
          </div>
          <form *ngIf="!error" [formGroup]="form">
               <div class="form-group">
                    <label for="email">May "{{ application ? application.name : "unknown" }}" access this identity?</label><br />
                    <br />
                    Information about "{{ application ? application.name : "unknown" }}":<br />
                    <br />
                    <ul>
                         <li>Given by: {{ data.app_giver}} </li>
                         <li>Website: {{ data.website }}</li>
                         <li>Privacy Policy: {{ data.privacy_policy }}</li>
                         <li>Added to our application store: {{ data.catalogued_at }}</li>
                    </ul>
                    Clicking authorize will give access to:<br />
                    <br />
                    <ul *ngIf="authService.isLoggedIn && (authService.I | async) as I" >
                         <li>Id: {{ I.id }}</li>
                         <li>Name: {{ I.name }}</li>
                         <li>Email address: {{ I.email }}</li>
                    </ul>
               </div>
               <div style="text-align: center; margin: 20px;">
                    <button class="btn btn-primary authorize" (click)="authorize()">{{ submitText }}</button>
                    <br />
                    <br />
                    <button class="btn btn-danger cancel" (click)="cancel()">Cancel</button>
               </div>
          </form>
     </card-body>
</card>