<card title="Log In"
     icon="assignment_ind"
     [loading]="processing">
     <card-body>
          <div *ngIf="queryParams && queryParams.client_id && application" style="text-align: center; max-width: 275px; margin: auto; padding: 20px; margin-top: 20px; margin-bottom: 20px;">
               <h2>{{ application.name }}</h2>
          </div>
          <form [formGroup]="loginForm"  (ngSubmit)="logIn()">
               <div class="form-group">
                    <div class="form-header">
                         <label for="email">Email</label>
                         <small class="form-text text-muted form-header-required" *ngIf="email.invalid && !email.pristine && errorGet(email.errors) == 'required'">
                              Required
                         </small>
                         <small class="form-text text-muted form-header-required" [hidden]="email.valid || email.pristine" *ngIf="(email.invalid && errorGet(email.errors) == 'email')">
                              A valid email is required.
                         </small>
                    </div>
                    <input formControlName="email" fullWidth type="email" class="form-control" placeholder="john@doe.com" name="email" required>
               </div>
               <div class="form-group">
                    <div class="form-header">
                         <label for="password">Password</label>
                         <small class="form-text text-muted form-header-required" *ngIf="password.invalid && !password.pristine && errorGet(password.errors) == 'required'">
                              Required
                         </small>
                         <small class="form-text text-muted form-header-required" *ngIf="password.invalid && errorGet(password.errors) == 'minlength'">
                              Password must be over 6 characters.
                         </small>
                    </div>
                    <input formControlName="password" class="form-control required" type="password" placeholder="Password" name="password" required>
               </div>
               <div style="text-align: center; margin-bottom: 25px;">
                    <div *ngIf="error" style="padding: 10px; color: red;">
                         Log in error. Maybe check your email and/or password.
                    </div>
                    <div *ngIf="error504" style="padding: 10px; color: red;">
                         Server not responding. Maybe try again later.
                    </div>
                    <button id="login" class="btn btn-primary" style="min-width: 300px; margin: 15px;">{{ logInText }}</button>
                    <br />
                    <a routerLink="/login/resetpassword" queryParamsHandling="merge">Reset Password</a>
               </div>
          </form>
     </card-body>
</card>