<div class="card">
     <div fxLayout="row" style="display:flex; font-size: 22px;  align-items: left; justify-content: left;">
          <div id="card_title">
               <i class="material-icons" style="vertical-align: middle !important; padding-right: 10px;">account_circle</i>
               <span style="vertical-align: middle !important;">Identity</span>
          </div>
     </div>
     <hr />
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
               <div class="form-header">
                    <label for="name_given">Given Name</label>
                    <small class="form-text text-muted form-header-required" *ngIf="name_given.invalid && !name_given.pristine && errorGet(name_given.errors) == 'required'">
                         Required
                    </small>
                    <small class="form-text text-muted form-header-required" [hidden]="name_given.valid || name_given.pristine" *ngIf="(name_given.invalid && errorGet(name_given.errors) == 'name_given')">
                         A valid email is required.
                    </small>
               </div>
               <input formControlName="name_given" type="text" class="form-control" placeholder="given name" name="name_given" required>
          </div>
          <div class="form-group">
               <div class="form-header">
                    <label for="name_family">Family Name</label>
                    <small class="form-text text-muted form-header-required" *ngIf="name_family.invalid && !name_family.pristine && errorGet(name_family.errors) == 'required'">
                         Required
                    </small>
                    <small class="form-text text-muted form-header-required" [hidden]="name_family.valid || name_family.pristine" *ngIf="(name_family.invalid && errorGet(name_family.errors) == 'name_family')">
                         A valid email is required.
                    </small>
               </div>
               <input formControlName="name_family" type="text" class="form-control required" placeholder="Last name" name="name_family" required>
          </div>
          <div class="form-group">
               <div class="form-header">
                    <label for="email">Email</label>
                    <small class="form-text text-muted form-header-required" *ngIf="email.invalid && !email.pristine && errorGet(email.errors) == 'required'">
                         Required
                    </small>
                    <small class="form-text text-muted form-header-required" [hidden]="email.valid || email.pristine" *ngIf="(email.invalid && errorGet(email.errors) == 'email')">
                         A valid email is required.
                    </small>
               </div>
               <input formControlName="email" type="text" class="form-control" placeholder="email" name="email" required>
          </div>
          <div style="text-align: center;">
               <button type="button" class="btn btn-primary" style="min-width: 200px; margin: 15px;" (click)="onSubmit()">Save</button>
          </div>
          <!-- {{ I$ | async | json }} -->
     </form>
</div>

