<!-- {{ model | json }} -->
<card [loading]="_processing" title="{{ model.title }}">
<card-body>
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <tabs>
          <tab title="Overview" *ngIf="!new">
               <ng-content select="dashboard"></ng-content>
          </tab>
          <tab title="Info">
               <h4 style="padding-bottom: 8px;">{{ model.data.oauth2 }}</h4>
               <div class="form-group" *ngFor="let fieldroot of model.data">
                    <div *ngIf="!fieldroot.fields">
                         <weavver-form-field [group]="form" [field]="fieldroot"></weavver-form-field>
                    </div>
                    <div *ngIf="fieldroot.fields">
                         <div style="padding: 8px; border: solid 1px #CCCCCC;  border-radius: 3px;">
                              <h4 style="padding-bottom: 8px;">{{ fieldroot.title }}</h4>
                              <span *ngFor="let field of fieldroot.fields">
                                   <weavver-form-field [group]="form" [field]="field"></weavver-form-field>
                              </span>
                         </div>
                    </div>
               </div>
               <div *ngIf="model.let.save" style="text-align: center;">
                    <button type="button" class="btn btn-primary" style="min-width: 200px; margin: 15px;" (click)="set_click()">Save</button>
               </div>
          </tab>
          <tab title="Advanced" *ngIf="!new && model.let.delete">
               <div style="text-align: center;">
                    <button type="button" class="btn btn-danger" style="min-width: 200px; margin: 15px;" (click)="delete_click()">
                         <i class="material-icons">delete</i>
                         Delete
                    </button>
               </div>
          </tab>     
          </tabs>
     </form>
</card-body>
</card>