<div class="card">
     <div fxLayout="row" style="display:flex; font-size: 22px;  align-items: left; justify-content: left;">
          <div>
               <i class="material-icons" style="vertical-align: middle !important; padding-right: 10px;">assignment_ind</i>
               <span style="vertical-align: middle !important;">Reset Password</span>
          </div>
     </div>
     <hr />
     Use this form to get a reset code to reset your account password.<br />
     <br />
     <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
          <div class="form-group">
               <div class="form-header">
                    <label for="email">Email</label>
                    <small class="form-text text-muted form-header-required" *ngIf="email.invalid && !email.pristine && errorGet(email.errors) == 'required'">
                         Required
                    </small>
                    <small class="form-text text-muted form-header-required" [hidden]="email.valid || email.pristine" *ngIf="(email.invalid && errorGet(email.errors) == 'email')">
                         A valid email is required.
                    </small>
               </div>
               <input formControlName="email" pInput fullWidth type="email" class="form-control" placeholder="john@doe.com" required>
          </div>
          <div style="text-align: center;">
               <button pButton class="btn btn-primary" style="min-width: 200px; margin: 15px;">Send Reset Code</button>
          </div>
     </form>
</div>