<card [loading]="processing" title="Applications">
     <card-body>
          <div class="applications-wrapper">
          <div class="applications-box">
               <div class="application-icon" *ngFor="let application of applications | async" (click)="openApp(application)">
                    <!-- <img src="assets/applications-icon-blank.png" style="max-width: 75px;" /><br /> -->
                    <div class="icon">
                         {{ getInitials(application) }}
                    </div>
                    {{ application.name }}
               </div>
          </div>
          </div>
     </card-body>
</card>