<card>
     <div fxLayout="row" style="display:flex; font-size: 22px;  align-items: left; justify-content: left;">
          <div id="card_title">
               <i class="material-icons" style="vertical-align: middle !important; padding-right: 10px;">apps</i>
               <span style="vertical-align: middle !important;">Applications</span>
          </div>
     </div>
     <hr />
     <div class="applications-wrapper">
     <div class="applications-box">
          <div *ngFor="let application of applications | async" (click)="openApp(application)">
               <!-- <img src="assets/applications-icon-blank.png" style="max-width: 75px;" /><br /> -->
               <div style="max-width: 115px; font-size: 40px; border-radius: 15px; border: dashed black 2px;">
                    {{ getInitials(application) }}
               </div>
               {{ application.name }}
          </div>
     </div>
     </div>
</card>