
.applications-wrapper {
     // border: 2px dotted rgb(96, 139, 168);
     width: 100%;
}
.applications-box {
     display: flex;
     flex-wrap: wrap;
     // margin:-10px;
     // align-items: center;
     // align-content: center;
}
.applications-box>* {
     // flex: 1 1 160px;
     // flex: auto;
     width: 100px;
     margin: 10px;
     text-align: center;
     // line-height: 75px;
     cursor: pointer;
}

.icon {
     max-width: 115px;
     height:100px;
     font-size: 40px;
     border-radius: 15px;
     border: dashed #CCCCCC 2px;
}

.icon:hover {
     max-width: 115px;
     height: 100px;
     font-size: 40px;
     border-radius: 15px;
     border: solid #CCCCCC 2px;
     background-color: #CCCCCC;
}

.icon:active {
     max-width: 115px;
     height: 100px;
     font-size: 40px;
     border-radius: 15px;
     border: solid #CCCCCC 2px;
     background-color: rgb(103, 103, 103);
}

// .application-icon:hover {
//      background-color: #CCCCCC;
//      border-radius: 15px;
//      border: dashed #CCCCCC 2px;
//      // font-size: 40px;
// }
